<div class="container">
  <h1>Meetups</h1>
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Japanese</th>
        <th>English</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @meetups.each do | meetup | %>
      <tr>
        <td><%= link_to meetup.date, meetup %></td>
        <td><%= meetup.japanese_attendees.count %></td>
        <td><%= meetup.english_attendees.count %></td>
        <td><%= meetup.attendees.count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
