<div class="container">
  <h1>New Meetup</div>
  <div class="row">
    <div class="col-md-8">
      <%= simple_form_for @meetup do | f | %>
        <%= f.input :date %>
        <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
